.left-side{
	background-color: #61bd6c;
	width: 500px;
	padding: 15px;
	float: left;
	margin-left: 5%;

}

.right-side{
	background-color: #61bd6c;
	margin-left: 5px;
	width: 500px;
	padding: 15px;
	float: left;

}

